@media (min-width: 760px) {
  html {
    font-size: 50%;
  }
  body {
    background-size: 100%;
  }
  .promo .video-container {
    width: 600px;
    height: 350px;
  }

  .footer .social > div {
    margin-left: 3rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 62.5%;
  }

  .navigation .follow {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  nav .navbar-nav {
    display: flex;
  }

  nav .navbar-nav .nav-link,
  nav .navbar-nav .dropdown {
    color: #b3e1ff;
    padding: 0 2rem !important;
    border-left: #13143a 1px solid;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
  }

  nav .navbar-nav .qr {
    border-left: #13143a 1px solid;
    padding-left: 2rem !important;
    box-sizing: border-box;
  }

  nav .navbar-nav .dropdown .nav-link {
    padding: 0 !important;
    border-bottom: none;
  }

  nav .navbar-nav .nav-link:hover,
  nav .navbar-nav .dropdown:hover {
    color: aliceblue;
    border-bottom: aliceblue 2px solid;
  }

  .hero .bg-img {
    height: 50%;
  }

  .promo .video-container {
    width: 700px;
    height: 400px;
  }

  .footer .social .icon {
    width: 3rem;
    height: 3rem;
  }

  .footer .social .email p {
    line-height: 2.5rem;
    height: 3rem;
  }
}

@media (min-width: 1200px) {
  .footer .social {
    justify-content: center;
    margin-left: 0;
  }

  .footer .social .icon {
    width: 4rem;
    height: 4rem;
  }

  .footer .social .email p {
    line-height: 4rem;
    height: 4rem;
  }
}

@media (min-width: 1800px) {
  .footer .social .icon {
    width: 5rem;
    height: 5rem;
  }

  .footer .social .email p {
    line-height: 5rem;
    height: 5rem;
  }
}
