@media (min-width: 500px) {
  .footer .social {
    margin-left: 3rem;
  }
  .blog h1 {
    font-size: 6rem;
  }
}

@media (min-width: 760px) {
  h2 {
    font-size: 5rem;
  }

  .footer .social {
    margin-left: 2rem;
    padding-bottom: 1rem;
  }

  html {
    font-size: 50%;
  }
  body {
    background-size: 100%;
  }
  .promo .video-container {
    width: 600px;
    height: 350px;
  }

  .footer .social {
    padding-bottom: 0.5rem;
  }

  .footer .social > div {
    margin-left: 3rem;
  }

  .bot-img {
    min-height: 50px;
  }

  .footer .qr {
    padding: 1rem 0;
  }
  .blog h1 {
    font-size: 7rem;
  }
  .blog h1,
  .blog h2,
  .blog p {
    padding: 0;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 55%;
  }

  .navigation nav {
    font-size: 2rem;
  }

  .navigation .follow {
    opacity: 0.8;
  }

  .navigation .follow {
    top: 0;
    z-index: 100;
    width: 100%;
  }

  .nav-top {
    min-height: 140px;
  }

  .navigation nav .navbar-nav {
    display: flex;
    padding: 0 2rem;
  }

  nav .navbar-nav .nav-link {
    padding: 0 2rem !important;
    border-left: #13143a 1px solid;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
  }

  nav .navbar-nav .qr {
    border-left: #13143a 1px solid;
    padding-left: 2rem !important;
    box-sizing: border-box;
    padding: 0;
  }

  nav .navbar-nav .nav-link:hover {
    color: #fefffe;
    background-color: #71519f;
    border-bottom: #fefffe 2px solid;
  }

  .navigation .language {
    margin-left: 2rem;
    text-align: center;
  }

  .navigation .language span {
    font-size: 2rem;
  }

  .navigation .zalo {
    height: 3rem;
    width: auto;
  }

  .navigation .btn-container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  .navigation .contact-btn {
    width: 80px;
  }

  .navigation .contact-btn a {
    padding: 0.2rem;
    padding-bottom: 0.4rem;
    font-size: 1.5rem;
  }

  .hero .bg-img {
    height: 50%;
  }

  .promo .video-container {
    width: 700px;
    height: 400px;
  }

  .footer .social .icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .footer .social .email p,
  .footer .social .whatsapp p {
    line-height: 3rem;
    height: 3.5rem;
  }

  .bot-img {
    min-height: 60px;
  }

  .zalo {
    height: 6rem;
    width: auto;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  .footer .social {
    margin-left: 5rem;
    padding-bottom: 5rem;
  }

  .footer .social .icon {
    width: 4rem;
    height: 4rem;
  }

  .footer .social .email p,
  .footer .social .whatsapp p {
    line-height: 4rem;
    height: 4rem;
  }
}

@media (min-width: 1800px) {
  .footer .social .icon {
    width: 5rem;
    height: 5rem;
  }

  .footer .social .email p,
  .footer .social .whatsapp p {
    line-height: 5rem;
    height: 5rem;
  }
}
