/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*GLOBAL*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 40%;
}

body {
  margin: 0;
  background-color: #71519f;
}
img {
  width: 100%;
}

.vh {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  position: relative;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.shadows {
  box-shadow: 23px 21px 10px 11px rgba(46, 35, 66, 0.5);
}

hr {
  color: #fefffe;
  opacity: 0.2;
  border-width: 2px;
  margin-top: 3rem;
}

.title h2 {
  color: #fefffe;
  text-align: center;
  margin-top: 5rem;
}

p,
li {
  font-size: 2.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

h2 {
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

h3 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
}

.zalo {
  pointer-events: all;
  -webkit-touch-callout: all;
}

.qr {
  text-align: center;
  padding: 2rem 0;
}

.zalo {
  height: 6rem;
  width: auto;
}

.contact-btn {
  background-color: #4cc9f1;
  border: none;
  border-radius: 10px;
  margin: 5rem 0;
  width: 160px;
}

.contact-btn a {
  font-size: 2rem;
  color: #fefffe;
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 1.2rem;
  display: inline-block;
  width: 100%;
}

.contact-btn:hover {
  background-color: #7bd1ee;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.sign-in {
  background-color: rgb(65, 199, 125);
}

.sign-in:hover {
  background-color: rgb(68, 230, 141);
}

.fix {
  position: fixed !important;
}

.purple-bg {
  background-color: #71519f;
}

.white-bg {
  background-color: #fefffe;
}

/*Navigation*/

.navigation {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav-top {
  min-height: 60px;
}

.navigation .follow {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

nav {
  font-size: 3rem;
  padding: 1.5rem 0 !important;
}

nav .navbar-nav {
  display: inline-block;
}

nav .navbar-nav .nav-link,
nav .navbar-nav .dropdown {
  color: #c7b8ea;
}

nav .navbar-nav .nav-link:first-of-type {
  border-left: none;
}

.navigation:hover .follow {
  opacity: 1;
}

.navigation .language {
  text-align: center;
}

.navigation .language span {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 4rem;
}

.navigation .language span:first-of-type {
  margin-left: 0;
}

.navbar-collapse {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.navbar:has(#basic-navbar-nav.show) {
  background-color: #71519f;
}

.follow {
  opacity: 0.9;
}

.navbar-toggler {
  font-size: 2.5rem;
  border-width: 2px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navigation .navbar-nav {
  display: block;
}

.navigation nav a {
  display: block;
  text-align: center;
}

.navigation nav a:hover {
  background-color: #c7b8ea;
  color: #71519f;
}

.navigation .contact-btn a:hover {
  background-color: transparent;
  color: #fefffe;
}

.navigation .btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.navigation .contact-btn {
  width: 100px;
  margin: 0;
}

/*Hero*/

.hero {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-img {
  height: 100%;
}

.hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.bot-img {
  width: 100%;
}

/*Promo*/

.promo {
  position: relative;
  padding-bottom: 5rem;
}

.promo .promo-container {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo .title {
  width: 100%;
  margin-bottom: 5rem;
}

.video-container {
  width: 300px;
  height: 200px;
  border-radius: 6%;
  overflow: hidden;
  margin: 5rem 0;
  position: relative;
}

.promo .promo-txt {
  font-size: 2rem;
  color: #fefffe;
  margin-top: 4rem;
  padding: 0 2rem;
}

.promo .promo-txt p {
  margin-bottom: 2rem;
}

.promo h3 {
  margin: 4rem 0;
}

/*Courses*/

.courses {
  position: relative;
  color: #fefffe;
}

.courses .container {
  text-align: center;
}

.courses .title h2 {
  margin-top: 0;
}

.course {
  padding: 3rem 2rem;
  scroll-margin-top: 30px;
}

.course img {
  margin-bottom: 2rem;
}

.course h3 {
  margin-bottom: 2rem;
}

.course .row {
  justify-content: space-around;
}

/*Pricing*/

.pricing .container .price-container {
  max-width: 900px;
  margin: 0 auto;
}

/*Choose*/

.choose {
  position: relative;
  color: #fefffe;
  padding-bottom: 4rem;
}

.choose .title {
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.choose .title h2 {
  margin-top: 0;
}

.choose .choose-txt,
.choose .choose-list {
  padding: 0 2rem;
}

.choose .choose-txt p:last-of-type {
  margin-bottom: 0;
}

.choose .choose-list div {
  display: flex;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.choose .choose-icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 2rem;
}

.choose .btn-container {
  text-align: center;
}

.choose .contact-btn {
  margin-top: 6rem;
  margin-bottom: 0;
}

.choose .video-container {
  margin: 0 auto;
}

.choose h3 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

/*Testimonials*/

.testimonials {
  position: relative;
}

.testimonials .top-img {
  width: 100%;
}

.testimonials .row {
  justify-content: center;
}
.testimonials .testim-container {
  height: 80%;
}

.testim-img {
  max-width: 100%;
}

.bot-img {
  min-height: 70px;
}

/*Footer*/
.footer {
  position: relative;
  width: 100%;
}

.footer .social {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.footer .social > div {
  margin-left: 1rem;
}

.footer .social div:first-of-type {
  margin-left: 0;
}

.footer .social .icon {
  fill: #4cc9f1;
  width: 3.5rem;
  height: 3.5rem;
}

.footer .social .icon:hover {
  fill: #7bd1ee;
}

.footer .social .icon:hover + p {
  color: #7bd1ee;
}

.footer .social .email,
.footer .social .whatsapp {
  display: flex;
}

.footer .social .email p,
.footer .social .whatsapp p {
  margin-bottom: 0;
  color: #4cc9f1;
  line-height: 4rem;
  height: 3.5rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.footer .social-media div:first-of-type,
.footer .email-and-number div:first-of-type {
  margin-bottom: 1rem;
}

.footer .qr {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .qr div {
  margin-bottom: 0;
}

.footer .zalo {
  height: 5rem;
  width: auto;
}

.footer .zalo-and-qr {
  text-align: center;
  margin-left: 5rem !important;
}

/*Pricing section*/

.pricing {
  position: relative;
}

.pricing .price {
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.pricing .price:last-of-type {
  margin-bottom: 2rem;
}

/*Blog*/
.blog .row {
  justify-content: center;
  margin: 5rem 0;
}

.blog h1 {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

.blog h2 {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.blog h1,
.blog h2,
.blog p {
  padding: 0 2rem;
}

/*QA*/

.qa h1 {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

.qa h3 {
  margin: 5rem 0;
}

.qa ul {
  margin-bottom: 2rem;
}

.qa .imgs {
  min-height: 70px;
  margin: 7rem 0;
}

.qa .img-container img {
  width: auto;
  height: auto;
}

.qa .img-left {
  float: left;
}

.qa .img-right {
  float: right;
}
