/*GLOBAL*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 40%;
}

body {
  margin: 0;
}
img {
  width: 100%;
}

.vh {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  position: relative;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.shadows {
  box-shadow: 23px 21px 10px 11px rgba(46, 35, 66, 0.5);
}

hr {
  color: #fefffe;
  opacity: 0.2;
  border-width: 2px;
  margin-top: 3rem;
}

.title h2 {
  font-size: 4rem;
  color: #fefffe;
  text-align: center;
  margin-top: 5rem;
}

p {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
}

.zalo {
  pointer-events: all;
  -webkit-touch-callout: all;
}

.contact-btn {
  width: 160px;
  background-color: #4cc9f1;
  border: none;
  padding: 1rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
  border-radius: 10px;
  margin: 5rem 0;
}

.contact-btn a {
  color: #fefffe;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #7bd1ee;
}

.fix {
  position: fixed !important;
}

.purple-bg {
  background-color: #71519f;
}

.white-bg {
  background-color: #fefffe;
}

/*Navigation*/

.navigation {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav-top {
  min-height: 60px;
}

.navigation .follow {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

nav {
  font-size: 2rem;
  padding: 1.5rem 0 !important;
}

nav .navbar-nav {
  display: inline-block;
  padding: 0 2rem;
}

nav .navbar-nav .nav-link,
nav .navbar-nav .dropdown {
  color: #4cc9f1;
}

nav .navbar-nav .nav-link:first-of-type {
  border-left: none;
}

nav .navbar-nav .dropdown .nav-link:hover {
  border-bottom: none !important;
}

nav .dropdown-item {
  padding: 2rem 3rem;
  font-size: 2rem;
  color: #13143a;
  text-decoration: none;
}

nav .dropdown-item:hover {
  background-color: #b3e1ff;
}

nav .dropdown-menu[data-bs-popper] {
  right: 0;
  top: 100%;
  left: auto;
  padding: 0;
  margin-top: 0.5rem;
  text-align: center;
  border-color: #4cc9f1;
}

.navigation:hover .follow {
  opacity: 1;
}

.navigation .zalo {
  height: 3rem;
  width: auto;
}

.navigation .language {
  margin-left: 2rem;
}

.navigation .language span {
  margin-left: 1rem;
  cursor: pointer;
}

.navbar-collapse {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.navbar:has(#basic-navbar-nav.show) {
  background-color: #71519f;
}

.follow {
  opacity: 0.8;
}

.navbar-toggler {
  font-size: 2.5rem;
  border-width: 2px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Hero*/

.hero {
  min-height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-img {
  height: 100%;
}

.hero .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.bot-img {
  width: 100%;
}

/*Promo*/
.promo {
  position: relative;
  padding-bottom: 5rem;
}

.promo .promo-container {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo .title {
  width: 100%;
  margin-bottom: 5rem;
}

.promo .video-container {
  width: 300px;
  height: 200px;
  border-radius: 6%;
  overflow: hidden;
  margin: 5rem 0;
  position: relative;
}

.promo .promo-txt {
  font-size: 2rem;
  color: #fefffe;
  margin-top: 4rem;
  padding: 0 2rem;
}

.promo .promo-txt p {
  margin-bottom: 2rem;
}

/*Courses*/

.courses {
  position: relative;
  color: #fefffe;
}

.courses .container {
  text-align: center;
}

.courses .title h2 {
  margin-top: 0;
}

.course {
  padding: 3rem 2rem;
  scroll-margin-top: 30px;
}

.course img {
  margin-bottom: 2rem;
}

.course h3 {
  margin-bottom: 2rem;
}

.course .row {
  justify-content: space-around;
}

/*Choose*/

.choose {
  position: relative;
  color: #fefffe;
  padding-bottom: 4rem;
}

.choose .title {
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.choose .title h2 {
  margin-top: 0;
}

.choose .choose-txt,
.choose .choose-list {
  padding: 0 2rem;
}

.choose .choose-txt p:last-of-type {
  margin-bottom: 0;
}

.choose .choose-list div {
  display: flex;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.choose .choose-icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 2rem;
}

.choose .btn-container {
  text-align: center;
}

.choose .contact-btn {
  margin-top: 6rem;
  margin-bottom: 0;
}

/*Testimonials*/

.testimonials {
  position: relative;
}

.testimonials .top-img {
  width: 100%;
}

.testimonials .row {
  justify-content: center;
}
.testimonials .testim-container {
  height: 80%;
}

.testim-img {
  max-width: 100%;
}

.bot-img {
  min-height: 60px;
}
/*Footer*/
.footer {
  position: relative;
  width: 100%;
}

.footer .social {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.footer .social > div {
  margin-left: 1rem;
}

.footer .social div:first-of-type {
  margin-left: 0;
}

.footer .social .icon {
  fill: #4cc9f1;
  width: 2.5rem;
  height: 2.5rem;
}

.footer .social .icon:hover {
  fill: #7bd1ee;
}

.footer .social .icon:hover + p {
  color: #7bd1ee;
}

.footer .social .email {
  display: flex;
}

.footer .social .email p {
  margin-bottom: 0;
  color: #4cc9f1;
  line-height: 2rem;
  height: 2.5rem;
  padding-left: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
}

/*Pricing section*/

.pricing {
  position: relative;
}

.pricing .price {
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.pricing .price:last-of-type {
  margin-bottom: 2rem;
}
